<div class="col-md-4">
  <article class="col-item">
     <div class="photo">
        <div class="options-cart-round">
          <button class="btn btn-default" title="Add to cart">

          <% if product.quantity.present? && product.quantity > 0 %>
          <%= link_to("", add_to_cart_product_path(product), method: :post, class: "fa fa-shopping-cart") %>
          <% else %>
          售罄
          <% end %>

          </button>
        </div>
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/250x150&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>
     </div>
      <div class="info">
        <div class="row">
          <div class="price-details col-sm-3">
            <div class="price-title"><%= product.title %></div>
            <div class="details">￥ <%= product.price %></div>
            <div class="price-update"  >
              <div class="favorite-position">
                <% if !product.members.include?(current_user) %>
                  <%= link_to("",favorite_product_path(product),method: :post, class: "fa fa-thumbs-o-up fa-1x") %><%= product.members.count %>
                <% else %>
                  <%= link_to("", unfavorite_product_path(product),method: :post,  class: "fa fa-thumbs-up fa-1x", style: "color:#337ab7") %><%= product.members.count %>
                <% end %>
              </div>
              <button class="btn btn-default update-position"><%= link_to "更新价格", update_price_product_path(product), class: "fontcolor", :method => :post %></button>
            </div>
          </div>
        </div>
      </div>
  </article>
</div>
