<!DOCTYPE html>
<html>

    <head>
        <title title="你未来资产的一部分">数字资产--你未来资产的一部分</title>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <%= csrf_meta_tags %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= render_page_title_tag %>
        <%= render_page_description_meta_tag %>
    </head>


    <body>

        <div>
            <%= render "common/navbar" %>
            <%= yield %>
        </div>

        <%= render "common/footer" %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <%= yield :handwrite_javascript %>

    </body>

</html>
